{{!< layout}}
<div class="aui-group">
    <div class="aui-item">
        <h3>Here's your config page. Now get to work!</h3>
        <h3>/help</h3>
        <p>tells you the commands you can run</p>
        <h3>/server</h3>
            <p>Checks the server status at 'http://cmmcd.com/PokemonGo/'. It will send a message to the room with the status of the pokemon go server. It will ping people on the subscriber list if the status changes.</p>
        <h3>/subs</h3>
        <p>Displays the ping names of people who has signed up for pings when the server status changes</p>
        <h3>/add</h3>
        <p>add you to the subscriber list</p>
        <h3>/remove</h3>
        <p>removes you from the subscriber list</p>
        <h3>/start</h3>
        <p>starts listening for server status changes</p>
        <h3>/stop</h3>
        <p>stops listening for server status changes</p>
    </div>
</div>
