{{!< layout}}
<div class="aui-group">
    <div class="aui-item">
        <h3>Here's your config page. Now get to work!</h3>
        <h3>/server</h3>
            <p>Calls "http://cmmcd.com/PokemonGo/" and checks the server status there. It will send a message to the room with the status of the pokemon go server and if it is Unstable or Offline, it will ping it again every 10 seconds until its Online again, sending messsages when the status goes from Offline to Unstable or the reverse.</p>
        <h3>/subs</h3>
        <p>Displays the ping names of people who has signed up for pings when the server status changes</p>
        <h3>/add</h3>
        <p>add you to the subscriber list</p>
        <h3>/remove</h3>
        <p>removes you from the subscriber list</p>
    </div>
</div>
